@charset "utf-8"; 

* {
  margin: 0;
  padding: 0;
}


.oracle {  
  margin: 5px;
  padding: 5px;
  color: white; 
  font-family: Arial;
  font-weight: bold; 
  text-align: center 
} 


body {
  margin: 10px;
  padding: 10px; 
  background-color: black;
  color: white; 
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  text-align: center 
}

.close {
  margin: 0px;
  padding: 0px; 
  width: 50px;
  height: 291px;
}

.center {
  display: block;
  margin: auto;
}


.piano {
  margin: 10px;
  padding: 10px;
  background-color: white;
  font-family: Arial;
  font-weight: bold; 
  text-align: center;
  color: black;
}

